In [1]:
%load_ext autoreload
%autoreload 2
import os,sys
sys.path.append(os.path.abspath(".."))

In [2]:
# !pip install --upgrade huggingface_hub -q

In [3]:
from IPython.display import HTML
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme(style="darkgrid")
plt.style.use('dark_background')
max_rating = 5

In [4]:
splits = {'train': 'data/train-00000-of-00001-8c8c7645a52d95e5.parquet',
          'val': 'data/validation-00000-of-00001-609ec132d91847f9.parquet'}
df_train = pd.read_parquet("hf://datasets/ashraq/movielens_ratings/" + splits["train"])
# df_val = pd.read_parquet("hf://datasets/ashraq/movielens_ratings/" + splits["val"])
# df = pd.concat([df_train, df_val], axis=0)
# del df_train,df_val
df = df_train

In [5]:
db = 'postgresql+psycopg2://admin:password@localhost:5432/mydb'

In [6]:
df = df.drop_duplicates(["movie_id","user_id"])

In [7]:
def image(src, width=200, height=300):
    return f'<img src="{src}" style="width: {width}px; height: {height}px"/>'


def images(srcs, width=200, height=300):
    assert len(srcs) <= 20
    return ''.join([image(src, width=width, height=height)for src in srcs])


HTML(data=images(df[:5].posters))

In [8]:
def split_title(title):
    title, year = title[:-7], title[-5:-1]
    year = int(year) if year.isdigit() else -1
    return title, year

In [9]:
ratings = df.copy()
ratings = ratings[ratings.genres != "(no genres listed)"]
ratings = ratings.merge(ratings.groupby("movie_id").agg(
    movie_avg_rating=("rating", "mean"),
    movie_total_rating=("rating", "count"),
), on="movie_id")

In [10]:
import itertools
genres = set(itertools.chain.from_iterable(ratings.genres.apply(lambda s:s.split("|"))))
genres

{'Action',
 'Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Horror',
 'IMAX',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western'}

In [11]:
ratings[["title", "year"]] = ratings.title.apply(split_title).tolist()
ratings = ratings[ratings.year != -1]

ratings.user_id = ratings.user_id.astype("category").cat.codes
ratings.movie_id = ratings.movie_id.astype("category").cat.codes

movies = ratings[["imdbId", "tmdbId", "movie_id", "title", "genres", "posters",
                  "movie_avg_rating","movie_total_rating"]].drop_duplicates("movie_id")
ratings = ratings[["user_id","movie_id","rating"]]
movies.drop(columns=['imdbId','tmdbId'], inplace=True)

ratings.sort_values("user_id", inplace=True)
movies.sort_values("movie_id", inplace=True)
ratings.reset_index(inplace=True, drop=True)
movies.reset_index(inplace=True, drop=True)

In [15]:
users = ratings.user_id.drop_duplicates().sort_values().to_frame()
users["username"] = users["user_id"].apply(lambda id: f"user{id}")
users.head(1)

   user_id username
0        0    user0

In [16]:
ratings.head(1)

   user_id  movie_id  rating
0        0      1351     3.5

In [17]:
movies.head(1)

,movie_id,title,genres,posters,movie_avg_rating,movie_total_rating
0,0,Love Crimes of Kabul,Documentary,https://m.media-amazon.com/images/M/MV5BN2ZiYj...,3.0,1

In [ ]:
from sqlalchemy import create_engine
conn = create_engine(db)
movies.to_sql("movies",conn,index=False)

813

In [ ]:
from sqlalchemy import create_engine
conn = create_engine(db)
ratings.to_sql("ratings", conn, index=False)

903